<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<style>
		body{
			background-color: #343a40;
			color: beige;
			margin-top: 30px;
			text-align: center;
		}
		h1{
			margin-bottom: 30px;
			background-color: red;
		}
		a{
			text-decoration: none !important;
			font-size: 20px;
			color: beige;
		}
		a:hover{
			cursor: pointer;
			color: red;
		}
	</style>
	<title>Document</title>
</head>
<body>
	<h1>Username already exists</h1>
	<a th:href="@{/add}">Go Back</a>
</body>
</html>