section{
	margin-top: 66px;
	background-color: #343a40;
	color: beige;
	text-align: center;
	flex-direction: column;
	min-width: 850px;
	height: 77vh;
	padding-top: 100px;																		
}
h1{
	margin-left: 30px;
	color: #218838;
}
.newStudentForm{
	color: white;
	margin-top: 20px;
}
.formContainer a{
	font-size: 1.5em;
	border-radius: 5px;
	position: relative;
	left: 100px;
	border: 1px solid white;
	padding: 5px;
	top: 5px;
	font-size: 20px;
	text-decoration: none;
}
.formContainer{
	display: flex;
	justify-content: center;
}
.form-control{
	margin-left: 30px;
}
.buttons{
	display: flex;
	justify-content: center;
}
.col-sm-2{
	font-weight: bold;
}
	