footer{
	background-color: #193a67;
	height: 173px;
	width: 100%;
	
}
footer img{
	margin-left: 30px;
	margin-top: 42px;
	width: 150px;
}
hr{
	border-top: 1px solid #fff6;
	margin-top: 0 !important;
}
.footerContainer{
	display: flex;
	justify-content: space-between;
}
.contactInfo h3{
	color: #fff;
	font-size: 17px;
	margin-right: 54px;
	font-family: sans-serif;
}
.contactInfo{
	margin-top: 23px;
	text-align: left;
}
hr{
	width: 100%;
}