.topnav {
	background-color: #fff;
	height: 75px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 67px;
	position: fixed;
  	top: 0;
  	width: 100%
}
#new a:hover, #view a:hover{
	color: #28a745;
}
.topnav #new:hover, .topnav #view:hover{
	background-color: #193a67d1;
	color: white;
}
.travel{
	display: flex;
	position: fixed;
	left: 106px;
}
#logo{
    height: 7vh;
	position: fixed;
}
#new, #view{
	height: 67px;
	padding-top: 13px;
}
#new a, #view a{
	color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Ribeye', cursive;
    font-weight: bold;
	margin: 0;
	padding: 13px;
}
.topnav .sheridan{
	color: #193a67;
    margin-top: 16px;
    font-family: auto;
	font-weight: bold;
	position: fixed;
    top: 4px;
    left: 75px;
}
.topnav img{
	height: 67px;
    width: 75px;
}
.whologged{
	color: #343a40;
	font-weight: bold;
	display: flex;
	justify-content: right;
}
.whologged div{
	margin-top: 18px !important;
	margin-left: 35px !important;
	margin-right: 13px !important;
}
.whologged form{
	margin-top: -6px !important;
}
.whologged input{
	border-radius: 24px;
}
.userInfo{
	margin-top: 24px !important;
}


#login{
	padding: 4px 10px !important;
    margin: 13px 20px !important;
    color: white !important;
    background-color: #28a745;
    font-size: 19px !important;
    border-radius: 16px;
}
#login a{
	margin: 0;
	color: white;
	text-decoration: none;
}
#login:hover{
	background-color: #377b46;
}

