section{
	background-color: #343a40;
	color: beige;
	text-align: center;
	width: 100%;
	min-width: 850px;
	height: 868px;
	padding-top: 200px;
}
h1{
	margin-top: 50px;
	font-size: 3em !important;
}









