<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extra-springsecurity5">
<head th:fragment="headerfiles">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link th:href="@{css/footer.css}" rel="stylesheet">
	<title>Document</title>
</head>
<body>
	<footer class="footer">
		<hr>
		<div class="footerContainer">
			<div>
				<img class="logo2" th:src="@{../images/logo.png}" src="../static/images/logo.png" alt="">
			</div>
			<div class="contactInfo">
				<h3>Contact Info</h3>
				<h3>Name: Jay</h3>
				<h3>Phone: 123-456-7899</h3>
			</div>
		</div>
	</footer>
</body>
</html>